.btn {
    background: none;
    border: 1px solid gray;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
 
  
  .btn:hover {
    background: rgba(255, 255, 255, 0.2);
  }